body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #010101;
    animation: slide-in-top 0.3s both;
}

.card {
    width: 290px;
    height: 64px;
    background: rgb(198, 187, 187);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.card:focus-within {
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(27, 27, 27);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card button {
    font-size: 34px;
    background-color: transparent;
    width: 50px;
    padding: 7px;
    height: 50px;
    border-radius: 100%;
    transition: all 0.2s ease-in;
    border: 0;
    cursor: pointer;
}

.card button:focus {
    background-color: rgb(209, 228, 230);
    margin-bottom: 50%;
}